# We ignore configuration .json files, so we can have trailing commas in them.

/.vscode/extensions.json
/.vscode/launch.json
/.vscode/settings.json
/.vscode/tasks.json
tsconfig.json
jsconfig.json

# The rest of this file is supposed to be an exact copy of .gitignore

.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
