{
  "$schema": "https://json.schemastore.org/prettierrc",
  "singleQuote": true,
  "overrides": [
    {
      "files": [
        "**/.vscode/extensions.json",
        "**/.vscode/launch.json",
        "**/.vscode/settings.json",
        "**/tsconfig*.json",
        "**/jsconfig.json"
      ],
      "options": {
        "parser": "json5",
        "quoteProps": "preserve",
        "singleQuote": false,
        "trailingComma": "all"
      }
    }
  ]
}
